<!DOCTYPE html>
<html>
  <head>
    <title>DemoSite</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

     <!-- <script src="/assets/jquery.js"></script> -->
       <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
 
  </head>
  <%=render 'layouts/header'%>
    <%= yield %>
    </div>

<div class="wrapper col5">
  <div id="copyright">
    <p class="fl_left">Copyright &copy; 2017 - All Rights Reserved - <a href="#">Demo</a></p>
    <p class="fl_right">Develop & Design By Manish</a></p>
    <br class="clear" />
  </div>
</div>
  </body>
</html>
